.fix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("@/assets/img/FIXBg.png");
  background-size: 100% 100%;
  max-height: 1200px;
  background-repeat: no-repeat;
}

.containerFix {
  display: flex;
  max-height: 1000px;
}

.fixLeft {
  padding: 88px 0px 124px 117px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  align-items: start;
  box-sizing: border-box;
}

.fixTexts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fixTitles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fixTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 450px;
}

.fixTitle {
  justify-content: start !important;
  align-items: start !important;
}

.fixTitleSpan {
  justify-content: start !important;
  align-items: start !important;
}

.fixSub {
  max-width: 540px;
  justify-content: start !important;
  align-items: start !important;
  color: rgba(255, 255, 255, 0.8);
}

.fixBtns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fixArrow {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fixArrow.active {
  opacity: 1;
}

.rotateArrowFix {
  transform: rotate(180deg);
}

.fixCards {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 16px;
  width: 500px;
  padding-inline: 117px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.fixCard {
  scroll-snap-align: center;
  display: flex;
  width: 370px;
  min-width: 370px;
  padding: 32px 8px 8px 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  border-radius: 18px;
  background: linear-gradient(180deg, #333 0%, #1a1a1a 100%);
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}

.card-enter-from {
  opacity: 0;
  transform: translateX(100%);
}
.card-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.fixCard {
  cursor: grab;
  user-select: none;
  transition: transform 0.3s ease;
}

.fixCard {
  position: relative;
}

.fixCard::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 0.5px solid white;
  border-radius: 18px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.fixCard:hover::before {
  opacity: 0.6;
  animation: pulseWaveOnceFix 1s forwards ease-out;
}

@keyframes pulseWaveOnceFix {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.06);
    opacity: 0;
  }
}

.fixCard.activeCard {
  opacity: 1;
}

.fixCardTexts {
  display: flex;
  width: 100%;
  max-width: 295px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.fixCardTitle {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 109.091% */
}

.fixCardSubtitle {
  color: rgba(255, 255, 255, 0.48);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
}

.fixCardContent {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 360px;
}

.fixCards {
  position: relative;
}

.fixCard {
  touch-action: none;
  user-select: none;
  position: relative;
  transition: none;
}

.fixCard img {
  pointer-events: none;
  user-select: none;
}

.activeCard {
  cursor: grab;
}

.activeCard:active {
  cursor: grabbing;
}

.fixCards {
  position: relative;
  perspective: 1000px;
}

.fixCard {
  transition: transform 0.5s ease-out, opacity 0.4s ease-out;
  transform-style: preserve-3d;
  position: relative;
}

.fixCard:not(.activeCard) {
  pointer-events: none;
}

.fixArrow {
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  z-index: 0;
  overflow: visible;
  transition: transform 0.3s;
}

.fixArrow:hover {
  animation: jellyBounce 0.6s ease-in-out;
}

.fixArrow::before,
.fixArrow::after {
  border-radius: 30px;
  content: "";
  position: absolute;
  border: 0.5px solid white;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  transform: translate(-50%, -50%) scaleX(1) scaleY(1);
  opacity: 0.6;
  pointer-events: none;
  z-index: -2;
  display: none;
}

.fixArrow:hover::before,
.fixArrow:hover::after {
  animation: pulseWaveFix 1s infinite ease-out;
  display: flex;
}

.fixArrow::after {
  animation-delay: 1s;
}

@keyframes pulseWaveFix {
  0% {
    transform: translate(-50%, -50%) scaleX(0.9) scaleY(0.9);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scaleX(1) scaleY(1);
    opacity: 0;
  }
}

@keyframes cardEnter {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0);
  }
}

.fixCard.activeCard {
  animation: cardEnter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.fixCardsPags {
  position: absolute;
  bottom: -50px;
  right: 56%;
  transform: translate(50%, 0);
  display: flex;
  align-items: center;
  gap: 8px;
}

.fixCardsPag {
  background-color: #373737;
  width: 3.3rem;
  height: 0.56rem;
  border-top-left-radius: var(--_sizes---corner-radius--r);
  border-top-right-radius: var(--_sizes---corner-radius--r);
  border-bottom-left-radius: var(--_sizes---corner-radius--r);
  border-bottom-right-radius: var(--_sizes---corner-radius--r);
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  box-shadow: inset 0 0.06944rem 0 0 #ffffff0d, 0 0 0 0.06944rem #ffffff40,
    inset 0 -0.06944rem 0 0 #0003;
  cursor: pointer;
  border-radius: 10rem;
  transition: all 0.4s ease-in-out;
}

.fixCardsPag:hover {
  animation: jellyBounce 0.6s ease-in-out;
}

.fixCardsPag.active {
  background-color: #dfdfdf;
}

.mobile {
  display: none;
}

@media (min-width: 1600px) {
  .containerFix {
    gap: 120px;
  }

  .fix {
    height: 100vh;
    justify-content: center;
  }
}

@media (max-width: 1285px) {
  .fixSub {
    max-width: 410px;
  }
}

@media (max-width: 1024px) {
  .fix {
    flex-direction: column;
    height: 100%;
    gap: 40px;
    overflow: hidden;
  }

  .containerFix {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .fixCardsPags {
    right: 50%;
    bottom: -50px;
    display: none;
  }

  .desktop {
    display: none;
  }

  .fixTexts {
    align-items: center;
  }

  .fixTitle {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
    align-items: center !important;
  }

  .fixTitleSpan {
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
  }

  .fixSub {
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
  }

  .fixLeft {
    padding: 0 60px;
  }

  .fixCards {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: visible;
    position: relative;
  }

  .fixCard {
    cursor: default;
  }

  .activeCard {
    cursor: default;
  }

  .activeCard:active {
    cursor: default;
  }

  .fixCardsWrapper {
    overflow-x: scroll;
    scrollbar-width: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  }

  .carousel-mobile {
    padding: 10px calc(50vw - 170px);
    overflow-x: scroll;
    scrollbar-width: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  }

  .carousel-mobile .fixCard {
    flex: 0 0 343px;
    min-width: auto;
    scroll-snap-align: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0.2;
  }

  .carousel-mobile .fixCard.activeCard {
    opacity: 1;
    animation: none;
  }

  .carousel-mobile::-webkit-scrollbar {
    display: none;
  }

  .carousel-mobile {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mobile {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .fixLeft {
    padding: 0px 30px;
  }
  .fixCard::before {
    display: none;
  }

  .fixCard:hover::before {
    opacity: 0.6;
    animation: none;
  }

  .fixTitleWrapper {
    text-align: center;
    width: 350px;
  }
}

@media (max-width: 640px) {
  .fixLeft {
    padding: 0px 16px;
  }

  .fixSub {
    max-width: 345px;
  }

  .fixTitle {
    max-width: none;
  }

  .fixTitleSpan {
    max-width: none;
  }

  /* .fixSub {
    max-width: 338px;
  } */

  .mobile {
    margin-top: -22px;
  }
}
