.roadmap {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #fff;
  position: relative;
  margin-top: -9px !important;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  max-height: 100vh;
  max-height: 1200px;
}

.roadmapCircleOverlay {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  z-index: 20;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  pointer-events: none;
}

.roadmapTexts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
}

.roadmapTitles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.roadmapTitle {
  color: #000;
}

.roadmapSubtitle {
  max-width: 417px;
  color: rgba(0, 0, 0, 0.8);
}

.roadmapCards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmapCardsBottom {
  bottom: 60px;
  display: flex;
  width: 436px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  bottom: 50px;
}

.roadmapCardsTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.roadmapCardsTitle {
  color: rgba(21, 21, 21, 0.48);
  text-align: center;
  font-family: "TeX Gyre Adventor";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 108.333% */
  letter-spacing: 0.48px;
}

.roadmapCardsSubtitle {
  color: #151515;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 108.333% */
  width: 566px;
}

.roadmapCardsBtns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.roadmapCardsArrow {
  cursor: pointer;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  display: flex;
  background-color: #151515;
}

.roadmapCardsArrow.left {
  transform: rotate(180deg);
  background-color: #f1f1f1;
}

.roadmapCardsArrow.left svg path {
  stroke: #151515;
}

.roadmapArk {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 64px;
}

.roadmapPoint {
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  cursor: pointer;
  pointer-events: all;
  color: rgba(0, 0, 0, 0.48);
  font-family: "TeX Gyre Adventor";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.32px;
}

.roadmapLine {
  position: absolute;
  height: 2px;
  background: #f1f1f1;
  transition: all 0.5s ease-in-out;
  pointer-events: all;
  cursor: pointer;
}

.roadmapLine.activeFirst,
.roadmapLine.active {
  background: #151515;
}

.fadeRoadmap-enter-active,
.fadeRoadmap-leave-active {
  transition: opacity 0.6s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(0px);
}
.fadeRoadmap-enter-from,
.fadeRoadmap-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.fade-slide-up-enter-active,
.fade-slide-up-leave-active {
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.exclusivityWrapper {
  position: relative;
  margin-top: -100vh;
  opacity: 0;
  transform: translateY(100vh);
  will-change: transform, opacity;
}

@media (min-width: 1600px) {
  .roadmap {
    top: -11px;
    justify-content: start;
  }
}

@media (max-width: 1024px) {
  .roadmapSVG {
    width: 800px;
  }

  .roadmapArk {
    margin-bottom: -30px;
  }

  .roadmapLine {
    display: none;
  }

  .roadmap {
    gap: 64px;
  }

  .roadmapCardsSubtitle {
    font-size: 20px;
    line-height: 130%;
    width: 400px;
  }

  .roadmapCardsBottom {
    bottom: 20px;
    width: 345px;
    gap: 28px;
  }

  .roadmapCardsTitle {
    font-size: 18px;
  }

  .roadmapCardsArrow {
    height: 48px;
    width: 48px;
  }
}

@media (max-width: 768px) {
  .roadmap {
    margin-top: 10px !important;
  }
  .roadmapCardsSubtitle {
    max-width: none;
    width: 100%;
  }
  .roadmapLine {
    display: flex;
  }
  .roadmapLineMobile {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
  }

  .roadmapPointsScroll {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  .roadmapPointWrapper {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 48px;
  }

  .roadmapMobilePoint.active {
    color: #151515;
  }

  .roadmapPoint {
    position: relative;
    transform: translate(0);
    color: rgba(0, 0, 0, 0.48);
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }

  .roadmapCards {
    flex-direction: column;
    gap: 64px;
  }

  .roadmapMobileProgressWrapper {
    position: relative;
    width: 100%;
    height: 17px;
    background: transparent;
    margin-top: 8px;
  }

  .roadmapCardsBottom {
    position: relative;
  }

  .roadmapMobileProgressBg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    border-radius: 24px;
  }

  .roadmapMobileProgressActive {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #151515;
    border-radius: 24px;
    transition: width 0.4s ease;
  }

  .roadmapSubtitle {
    max-width: 284px;
  }

  .roadmap {
    top: -85px;

    padding-top: 0;
  }

  .exclusivityWrapper {
    margin-top: -50vh;
    transform: translateY(50vh);
  }
}
