.tokenomics {
  padding: 64px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background: white;
  padding-top: 150px;
  min-height: 100vh;
  box-sizing: border-box;
}

.pin-spacer-future-sequence {
  width: auto !important;
  overflow: hidden !important;
}

.tokenomicsTexts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.tokenomicsTitle {
  color: #000;
  width: 400px;
}

.hidden {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.wrapperCardsToc {
  width: 100vw;
}

@media (max-width: 1285px) {
  .tokenomics {
    gap: 40px;
    padding: 64px 60px;
    padding-top: 50px;
  }
  .wrapperCardsToc {
    width: auto;
  }
}

@media (max-width: 1024px) {
  .tokenomics {
    padding: 64px 50px;
    padding-top: 180px;
  }
}

@media (max-width: 768px) {
  .tokenomics {
    padding: 72px 30px;
  }

  .tokenomicsTitle {
    max-width: 340px;
  }

  .wrapperCardsToc {
    transform: translateY(0) !important;
    opacity: 1 !important;
    max-width: 100vw;
  }

  .tokenomics {
    gap: 20px;
  }
}

@media (max-width: 549px) {
  .tokenomics {
    padding: 72px 16px;
  }
}
