body {
  margin: 0;
  background-color: #fff;
}

.howToBuyPage {
  background-color: #0f0e0e;
}

img {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1600px;
  width: 100%;
  position: relative;
  margin-left: auto;
  align-items: center;
  margin-right: auto;
  height: 100%;
}

.UnderTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #d06bff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  z-index: 9;
}

.Title {
  color: #fff;
  font-family: "TeX Gyre Adventor";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  width: 100%;
}

.Subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  width: 100%;
}

@media (max-width: 1024px) {
  .Title {
    font-size: 46px;
  }
  .UnderTitle {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .Title {
    font-size: 42px;
    line-height: 100%; /* 100% */
  }
}

@media (max-width: 640px) {
  .Title {
    font-size: 40px;
  }
}

.jelly-wave {
  position: relative;
  cursor: pointer;
  z-index: 0;
  overflow: visible;
  transition: transform 0.3s;
}

.jelly-wave:hover {
  animation: jellyBounce 0.6s ease-in-out;
}

.jelly-wave::before,
.jelly-wave::after {
  content: "";
  position: absolute;
  border: 0.5px solid white;
  border-radius: 32px;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  transform: translate(-50%, -50%) scaleX(1) scaleY(1);
  opacity: 0.6;
  pointer-events: none;
  z-index: -2;
  display: none;
}

.jelly-wave:hover::before,
.jelly-wave:hover::after {
  animation: pulseWave 1s infinite ease-out;
  display: flex;
}

.jelly-wave::after {
  animation-delay: 1s;
}

@keyframes pulseWave {
  0% {
    transform: translate(-50%, -50%) scaleX(0.9) scaleY(0.9);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scaleX(1) scaleY(1.1);
    opacity: 0;
  }
}

@keyframes jellyBounce {
  0% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.15, 0.85);
  }
  50% {
    transform: scale(0.9, 1.1);
  }
  70% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

.single-pulse-wave {
  position: relative;
  display: inline-block;
}

.single-pulse-wave::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 0.5px solid white;
  border-radius: 32px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.single-pulse-wave:hover::before {
  opacity: 0.6;
  animation: pulseWaveOnce 0.5s forwards ease-out;
}

@keyframes pulseWaveOnce {
  0% {
    transform: translate(-50%, -50%) scaleY(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scaleY(1.3);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .future {
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
  }

  body.gsap-scrolltrigger-pin-spacer {
    touch-action: pan-y !important;
    overflow: auto !important;
  }

  @keyframes pulseWaveOnce {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.6;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.05);
      opacity: 0;
    }
  }
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.eot");
  src: local("Helvetica Now Display Thin Ita"),
    local("HelveticaNowDisplay-ThinIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.ttf")
      format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.eot");
  src: local("Helvetica Now Display Light"), local("HelveticaNowDisplay-Light"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.eot");
  src: local("/fonts/HelveticaNowDisplay/Helvetica Now Display Bold Ita"),
    local("HelveticaNowDisplay-BoldIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.eot");
  src: local("Helvetica Now Display Reg Ita"),
    local("HelveticaNowDisplay-RegIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.eot");
  src: local("Helvetica Now Display ExtLt Ita"),
    local("HelveticaNowDisplay-ExtLtIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.eot");
  src: local("Helvetica Now Display Med Ita"),
    local("HelveticaNowDisplay-MedIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.eot");
  src: local("Helvetica Now Display ExtLt"), local("HelveticaNowDisplay-ExtLt"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.eot");
  src: local("Helvetica Now Display ExtBlk"),
    local("HelveticaNowDisplay-ExtBlk"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.eot");
  src: local("Helvetica Now Display Bold"), local("HelveticaNowDisplay-Bold"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.eot");
  src: local("Helvetica Now Display ExtBd Ita"),
    local("HelveticaNowDisplay-ExtBdIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.ttf")
      format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.eot");
  src: local("Helvetica Now Display Regular"),
    local("HelveticaNowDisplay-Regular"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.eot");
  src: local("Helvetica Now Display ExBlk It"),
    local("HelveticaNowDisplay-ExtBlkIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin.eot");
  src: local("Helvetica Now Display Thin"), local("HelveticaNowDisplay-Thin"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.eot");
  src: local("Helvetica Now Display Light Ita"),
    local("HelveticaNowDisplay-LightIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.eot");
  src: local("Helvetica Now Display ExtBd"),
    local("HelveticaNowDisplay-ExtraBold"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.eot");
  src: local("Helvetica Now Display Medium"),
    local("HelveticaNowDisplay-Medium"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.eot");
  src: local("Helvetica Now Display Hairline"),
    local("HelveticaNowDisplay-HairlineI"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.ttf")
      format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.eot");
  src: local("Helvetica Now Display Black Ita"),
    local("HelveticaNowDisplay-BlackIta"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.eot");
  src: local("Helvetica Now Display Black"), local("HelveticaNowDisplay-Black"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.eot");
  src: local("Helvetica Now Display Hairline"),
    local("HelveticaNowDisplay-Hairline"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.woff2")
      format("woff2"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.woff")
      format("woff"),
    url("@/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TeX Gyre Adventor";
  src: url("@/fonts/tex-gyre-adventor/texgyreadventor-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TeX Gyre Adventor";
  src: url("@/fonts/tex-gyre-adventor/texgyreadventor-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
