.footer {
  padding: 30px 60px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}

.footerLogo {
  width: 84px;
  height: 84px;
  z-index: 4;
  position: relative;
}

.footerRight {
  z-index: 4;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 32px;
}

.footerLinks {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footerLink {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  cursor: pointer;
  position: relative;
}

.footerLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.8s ease;
}

.footerLink:hover::before {
  transform: scaleX(1);
}

.footerSocWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerSoc {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.footerSoc:hover {
  animation: jellyBounce 0.6s ease-in-out;
}

.footerSocIcon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.footerSocWrapMob {
  display: none;
}

@media (max-width: 1600px) {
}

@media (max-width: 1285px) {
  .footer {
    padding: 30px 50px;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 30px 40px;
    flex-direction: column;
    align-self: stretch;
    align-items: start;
    gap: 48px;
  }

  .footerLogo {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
  }

  .footerSocWrapMob {
    display: flex;
  }

  .footerSocWrapDes {
    display: none;
  }

  .footerLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 30px;
  }

  .footerLogo {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
  }

  .footerLinks {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    row-gap: 32px;
    column-gap: 80px;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 20px 16px;
    padding-bottom: 30px;
  }
}
